<manifest xmlns:android="http://android.com"
    package="com.example.test">

    <application 
        android:label="Hello World App"
        android:theme="@android:style/Theme.DeviceDefault">
        
        <activity 
            android:name=".MainActivity" 
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
